.nav-list {
  display: flex;
  align-items: center;
  justify-content: center ;
  gap: 40px;
  padding: 350px 0;
}

.nav-link {
  position: relative;
  display: block;
  font-weight: 900;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  padding: 15px;
  color: #523c2d;
  font-size: 80px;
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px var(--opacity-neutral-darkest-15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 var(--opacity-white-5);
  background: var(--color-coffee-dark);
}

.nav-link:hover,
.nav-link:focus {
  color: #e2e2bc;
  background-color: #523c2d;
  border: 1px  solid;
  border-radius: 20px;
}

